@model IEnumerable<PansiyonTransilvaniye.Models.IletisimBilgileri>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.telNo)
        </td>
       
    </tr>
}